<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gameBbsMapper">
	<!-- /////////////////////////////이미지게시판/////////////////////////////// -->
	<!-- 이미지 게시판 정보 수정 -->
	<update id="updateWritingInfo" parameterType="model.Writing">
		update writing_info set writer_name = #{writer_name}, title = #{title}, email = #{email}, image_name = #{image_name}
		where writing_id = #{writing_id}
	</update>
	
	<!-- 이미지 게시판 본문 조회 -->
	<select id="getImageDetail" resultType="model.Writing" parameterType="Integer">
		SELECT * FROM writing_info WHERE writing_id = #{id}
	</select>
	
	<!-- 이미지 게시판 본문 등록 -->
	<insert id="insertWritingInfo" parameterType="model.Writing">
		INSERT INTO writing_info VALUES(#{writing_id}, #{group_id}, #{order_no}, #{parent_id}, #{register_date}, #{writer_name}, #{email}, #{image_name}, #{password}, #{title}, 0)
	</insert>
	
	<!-- 이미지 게시판 리스트 조회 -->
	<select id="getWritingInfo" resultType="model.Writing">
		SELECT * FROM writing_info ORDER BY writing_id DESC
	</select>
	
	<!-- 이미지 게시판 가장 큰 글번호 조회 -->
	<select id="getMaxWritingId" resultType="Integer">
		SELECT MAX(writing_id) max_id FROM writing_info
	</select>
	

	<!-- /////////////////////////////Cart/////////////////////////////// -->
	<!-- 페이징 처리를 위한 총 글갯수 조회 -->
	<select id="getCartCount" resultType="Integer">
		SELECT count(*) AS num FROM cart
	</select>
	
	<!-- 카트에서 상품 삭제 -->
	<delete id="deleteCart" parameterType="model.CartItem">
		DELETE FROM cart WHERE code = #{code} AND id = #{id}
	</delete>
	
	<!-- 카트에서 상품 수정 -->
	<update id="updateCart" parameterType="model.CartItem">
		UPDATE cart SET num = #{num} WHERE code = #{code} AND id = #{id}
	</update>
	
	<!-- 카트의 가장 큰 seqno 조회 -->
	<select id="selectMaxCart" resultType="Integer">
		SELECT MAX(seqno) max_seqno FROM cart
	</select>
	
	<!-- 카트에 상품 추가 -->
	<insert id="insertCart" parameterType="model.CartItem">
		INSERT INTO cart VALUES(#{seqno}, #{code}, #{num}, #{id})
	</insert>
	
	<!-- 카트 상품 조회 -->
	<select id="selectCart" parameterType="model.Condition" resultType="model.CartItem">
		select * from
		(
		    select a.*, rownum rn from
		    (
		        (SELECT cart.code code, cart.num num, p.price price, p.name title
		        FROM cart cart, product_info p
		        WHERE cart.code = p.pid
		        AND cart.id = #{id}) a
		    )
		) where rn between #{startRow} and #{endRow}
	</select>
	
	
	<!-- /////////////////////////////Product/////////////////////////////// -->
	<!-- 페이징 처리를 위한 총 글갯수 조회 -->
	<select id="getProductCount" resultType="Integer">
		SELECT count(*) AS num FROM product_info
	</select>
	
	<!-- 상품 본문 조회 -->
	<select id="getProductDetail" resultType="model.Product" parameterType="Integer">
		SELECT * FROM product_info WHERE pid = #{pid}
	</select>
	
	<!-- 게시글 리스트 조회 -->
	<select id="getProductList" parameterType="model.Condition" resultType="model.Product">
		select pid, name, price, id, content, p_date from
		(
			select a.*, rownum rn from
			(
				(select * from product_info order by pid desc) a<!-- 1. 글 번호를 역순검색으로 찾는다 -->
			)
		) where rn between #{startRow} and #{endRow}<!-- 2. startRow부터 endRow까지 -->
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="putGameBbs" parameterType="model.GameBbs">
		INSERT INTO t_game_#{gameNo}
		(
			seq, user_id, price, p_date, content, id
		)
		VALUES
		(
			#{pid}, #{name}, #{price}, #{p_date}, #{content}, #{id} 	
		)
	</insert>
	
	<!-- 가장 큰 글번호 가져오기 -->
	<select id="getMaxSeq" resultType="Integer" parameterType="model.GameBbs">
		SELECT MAX(seq) m_seq FROM t_game_#{gameNo}
	</select>
	
		
	<!-- /////////////////////////////Login/////////////////////////////// --> 
	<!-- 로그인 비밀번호 조회 -->
	<select id="getPassword" resultType="String" parameterType="model.Condition">
		SELECT password FROM user_account
		WHERE user_id = #{id}
	</select>
</mapper>