<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="myHomeOracle">
		<environment id="myHomeOracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl"/><!-- DB 주소 -->
				<property name="username" value="hr"/><!-- DB 계정 -->
				<property name="password" value="1234"/><!-- DB 비밀번호 -->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/gameBbsMapper.xml"/><!-- Mapper 파일의 경로(패키지/파일명.xml) -->
	</mappers>
</configuration>